body{
    background-color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    margin: auto;
    width: 100%;
    height: 1697px;
}
nav{
    margin: auto;
    width: 100%;
    height: 80px;
    background-color: black;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav ul li{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
nav ul li a{
    float: left;
    text-decoration: none;
    color: white;
    margin-top: 25px;
    margin-right: 235px;
    margin-left: 310px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    left: 0;
    right: 0;
}
nav ul li a::after{
    content: '';
    height: 5px;
    width: 0%;
    background-color: #00D172;
    display: block;
    transition: 0.3s ease-in-out;
}
nav ul li a:hover::after{
    content: '';
    height: 5px;
    width: 100%;
    background-color: #00D172;
    display: block;
}
.animated-link{
    outline: none;
    border: none;
    cursor: pointer; 
    left: 0;
    right: 0;
}
.animated-link::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: #00D172;
    display: block;
    transition: 0.3s ease-in-out;
}
.animated-link:hover::after{
    content: '';
    height: 3px;
    width: 100%;
    background-color: #00D172;
    display: block;
}
header{
    width: 100%;
    height: 150px;
    background-color: white;
}
#logo{
    margin: auto;
    width: 250px;
    height: 175px;
    margin-left: 75px;
    float: left;
}
#logo-resmi{
    margin: auto;
    width: 250px;
    height: 175px;
}
#arama{
    margin: auto;
    width: 120px;
    height: 25px;
    float: left;
    margin-left: 680px;
    margin-top: 35px;
}
.search-box{
    position: absolute;
    background: #333A45;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 25px 0 rgba(51, 58, 69, 0.4);
  }
  
  .search-box input{
    margin-top: -10px;
    font-family: 'Poppins';
    font-weight: 500;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    width: 0px;
    transition: all 0.8s;
  }
  
  .search-box:hover input{
    width: 325px;
    padding: 0 6px;
  }
  
  .search-box input:focus{
    width: 325px;
    padding: 0 6px;
  }
  
  .search-box:hover::after{
    width: -325px;
    padding: 0 6px;
  }

  .search-btn{
    border: none;
    background: none;
    outline: none;
    width: 20px;
    margin-top: -21px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .search-btn i{
    z-index: 1;
    background: #00D172;
    font-size: 30px;
    color: #333A45;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 0 25px 0 rgba(0, 184, 148, 0.4);
  }
#banner{
    margin: auto;
    width: 1300px;
    height: 600px;
}
section{
    margin: auto;
    width: 100%;
    height: 1190px;
    background-color: white;
}
section #ilk-yazi{
    margin: auto;
    margin-top: 75px;
    text-align: justify;
    margin-left: 25px;
}
.hizaya-getirilecek-basliklar{
    margin: auto;
    text-align: justify;
    margin-left: 25px;
}
section p{
    margin: auto;
    text-align: justify;
    margin-left: 25px;
}
section #son-yazi{
    margin: auto;
    text-align: justify;
    margin-bottom: 75px;
    margin-left: 25px;
}
section #son-yazi .social-media{
    margin-bottom: 50px;
}
footer{
    margin: auto;
    width: 100%;
    height: 690px;
    background-color: black;
}
.footer-list-item{
    list-style-type: none;
    text-decoration: none;
}
.footer-list-link{
    text-decoration: none;
    margin-left: 25px;
    color: black;
}
footer .footer-alt-basliklar{
    list-style-type: none;
    text-decoration: none;
}
.ri-instagram-line{
    width: 50%;
    height: 50%;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}
.social-media-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    flex-direction: row;
    margin-right: 25px;
    margin-bottom: 10px;
    float: right;
}
.social-media{
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
    gap: 2rem;
}
footer ul{
    text-decoration: none;
    text-align: left;
    color: #fff;
}
footer ul .basliklar{
    margin: auto;
    display: flex;
    flex: row;
    margin-left: 850px;
    float: left;
}
.footer-list-link{
    margin: auto;
    margin-left: 25px;
    color: black;
}
.footer-list{
    margin: auto;
    text-decoration: none;
    color: black;
    margin: auto;
    text-align: justify;
    margin-top: 25px;
    margin-left: 5px;
    margin-bottom: -35px;
    color: #fff;
}
footer ul .basliklar p{

}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20pt;
}
h2{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18pt;
}
h3{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16pt;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14pt;
}