            /* jssor slider thumbnail navigator skin 12 css */
            /*
            .jssort12 .p            (normal)
            .jssort12 .p:hover      (normal mouseover)
            .jssort12 .pav          (active)
            .jssort12 .pav:hover    (active mouseover)
            .jssort12 .pdn          (mousedown)
            */
            .jssort12 {
                position: absolute;
                width: 500px;
                height: 30px;
            }

                .jssort12 .w {
                    cursor: pointer;
                    position: absolute;
                    WIDTH: 99px;
                    HEIGHT: 28px;
                    border: 1px solid gray;
                    top: 0px;
                    left: -1px;
                }

                .jssort12 .p {
                    position: absolute;
                    width: 100px;
                    height: 30px;
                    top: 0;
                    left: 0;
                    padding: 0px;
                }

                .jssort12 .pav .w, .jssort12 .pdn .w {
                    border-bottom: 1px solid #fff;
                }

                .jssort12 .c {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 28px;
                    text-align: center;
                    color: #000;
                    font-size: 13px;
                }

                .jssort12 .p .c, .jssort12 .pav:hover .c {
                    background-color: #eee;
                }

                .jssort12 .pav .c, .jssort12 .p:hover .c {
                    background-color: #fff;
                }